agent-workflow.json
{
  "name": "agent-workflow",
  "nodes": [
    {
      "parameters": {
        "options": {
          "responseMode": "responseNodes"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        0,
        -400
      ],
      "id": "5e881ee1-a113-4f7a-8b4e-c74121be523e",
      "name": "When chat message received",
      "webhookId": "cd6baac2-c985-4e29-9485-918ba38e3c91"
    },
    {
      "parameters": {
        "needsFallback": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1176,
        -400
      ],
      "id": "ac415646-ac03-4fd0-9eda-1f8b8b3a8115",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-3.1-flash-lite-preview",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        224,
        -176
      ],
      "id": "fc506bc1-41e5-4277-86f1-b05b63a625a4",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "Ksn0wfry2GS82ZtG",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Lists all xpsystems.eu status-services, their latency and status",
        "url": "https://status.xpsystems.eu/api/services",
        "options": {},
        "optimizeResponse": true,
        "dataField": "services",
        "fieldsToInclude": "except",
        "fields": "="
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [
        480,
        -176
      ],
      "id": "0d9533d4-575e-4ad6-b5b6-8152f2e87f00",
      "name": "xpsystems.eu status-api service-list"
    },
    {
      "parameters": {
        "toolDescription": "Checks the over-all xpsystems.eu system status",
        "url": "https://status.xpsystems.eu/api/status",
        "options": {},
        "optimizeResponse": true
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [
        608,
        -176
      ],
      "id": "ec4caa33-79bb-4d98-8228-d54c41f454fa",
      "name": "xpsystems.eu status-api over-all"
    },
    {
      "parameters": {
        "message": "={{ $json.output }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chat",
      "typeVersion": 1.3,
      "position": [
        2480,
        -400
      ],
      "id": "ef6f3498-acd3-4ea0-9cf3-2e123989a3ca",
      "name": "AI reply",
      "webhookId": "c34bb292-a0e7-41dd-9274-9e33ebcb093f"
    },
    {
      "parameters": {
        "operation": "download",
        "path": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('File_Path', ``, 'string') }}",
        "binaryPropertyName": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Put_Output_File_in_Field', ``, 'string') }}"
      },
      "type": "n8n-nodes-base.nextCloudTool",
      "typeVersion": 1,
      "position": [
        736,
        -176
      ],
      "id": "98c79df2-4ee6-4704-b38d-367cfc82a8b1",
      "name": "Download a file in Nextcloud",
      "credentials": {
        "nextCloudApi": {
          "id": "B9JRRuackLSYf8ae",
          "name": "NextCloud account"
        }
      }
    },
    {
      "parameters": {
        "path": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('File_Path', ``, 'string') }}",
        "binaryDataUpload": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Binary_File', ``, 'boolean') }}"
      },
      "type": "n8n-nodes-base.nextCloudTool",
      "typeVersion": 1,
      "position": [
        864,
        -176
      ],
      "id": "5c0e7f49-a5fb-4b6f-97cc-624b3626292b",
      "name": "Upload a file in Nextcloud",
      "credentials": {
        "nextCloudApi": {
          "id": "B9JRRuackLSYf8ae",
          "name": "NextCloud account"
        }
      }
    },
    {
      "parameters": {
        "resource": "folder",
        "operation": "list",
        "path": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Folder_Path', ``, 'string') }}"
      },
      "type": "n8n-nodes-base.nextCloudTool",
      "typeVersion": 1,
      "position": [
        992,
        -176
      ],
      "id": "f495ba24-3f8f-4d49-a482-3025efefa9a5",
      "name": "List a folder in Nextcloud",
      "credentials": {
        "nextCloudApi": {
          "id": "B9JRRuackLSYf8ae",
          "name": "NextCloud account"
        }
      }
    },
    {
      "parameters": {
        "resource": "folder",
        "path": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Folder_Path', ``, 'string') }}"
      },
      "type": "n8n-nodes-base.nextCloudTool",
      "typeVersion": 1,
      "position": [
        1120,
        -176
      ],
      "id": "8b9e0318-d0d8-4bda-8cc4-45d989d71d9a",
      "name": "Create a folder in Nextcloud",
      "credentials": {
        "nextCloudApi": {
          "id": "B9JRRuackLSYf8ae",
          "name": "NextCloud account"
        }
      }
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "edit",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash-image",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash-image (Nano Banana)"
        },
        "prompt": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt', ``, 'string') }}",
        "images": {
          "values": [
            {
              "binaryPropertyName": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('values0_Binary_Field_Name', ``, 'string') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGeminiTool",
      "typeVersion": 1.1,
      "position": [
        1248,
        -176
      ],
      "id": "bb24e480-589a-47da-bb09-4364bfdc4c05",
      "name": "Edit an image in Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "Ksn0wfry2GS82ZtG",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-flash-lite-latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        352,
        -176
      ],
      "id": "8cd75aca-ff21-4c0d-bde5-fecd20cd4660",
      "name": "Google Gemini Chat Model2",
      "credentials": {
        "googlePalmApi": {
          "id": "Ksn0wfry2GS82ZtG",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "id": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Track_ID', ``, 'string') }}"
      },
      "type": "n8n-nodes-base.spotifyTool",
      "typeVersion": 1,
      "position": [
        1376,
        -176
      ],
      "id": "215a480d-9117-4550-9edb-36727db719a7",
      "name": "Add a song to a queue in Spotify",
      "credentials": {
        "spotifyOAuth2Api": {
          "id": "JieBlDE26DjNOWs4",
          "name": "Spotify account"
        }
      }
    },
    {
      "parameters": {
        "operation": "currentlyPlaying"
      },
      "type": "n8n-nodes-base.spotifyTool",
      "typeVersion": 1,
      "position": [
        1504,
        -176
      ],
      "id": "993bb0c9-a8a4-4abb-b5ac-2642d910d5e9",
      "name": "Get the currently playing track in Spotify",
      "credentials": {
        "spotifyOAuth2Api": {
          "id": "JieBlDE26DjNOWs4",
          "name": "Spotify account"
        }
      }
    },
    {
      "parameters": {
        "operation": "nextSong"
      },
      "type": "n8n-nodes-base.spotifyTool",
      "typeVersion": 1,
      "position": [
        1632,
        -176
      ],
      "id": "c7634f59-4351-4653-adfb-7a9a241bf210",
      "name": "Skip to the next track in Spotify",
      "credentials": {
        "spotifyOAuth2Api": {
          "id": "JieBlDE26DjNOWs4",
          "name": "Spotify account"
        }
      }
    },
    {
      "parameters": {
        "operation": "volume",
        "volumePercent": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Volume', ``, 'number') }}"
      },
      "type": "n8n-nodes-base.spotifyTool",
      "typeVersion": 1,
      "position": [
        1760,
        -176
      ],
      "id": "9531a05c-1d14-47ec-b7dd-3b7e31959b11",
      "name": "Set volume on the player in Spotify",
      "credentials": {
        "spotifyOAuth2Api": {
          "id": "JieBlDE26DjNOWs4",
          "name": "Spotify account"
        }
      }
    },
    {
      "parameters": {
        "operation": "recentlyPlayed",
        "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}"
      },
      "type": "n8n-nodes-base.spotifyTool",
      "typeVersion": 1,
      "position": [
        1888,
        -176
      ],
      "id": "e33a1133-297d-43b3-8499-733cdb495fa7",
      "name": "Get the recently played tracks in Spotify",
      "credentials": {
        "spotifyOAuth2Api": {
          "id": "JieBlDE26DjNOWs4",
          "name": "Spotify account"
        }
      }
    },
    {
      "parameters": {
        "operation": "startMusic",
        "id": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Resource_ID', ``, 'string') }}"
      },
      "type": "n8n-nodes-base.spotifyTool",
      "typeVersion": 1,
      "position": [
        2016,
        -176
      ],
      "id": "ebd5a810-3ff5-4df5-84e5-554fdd5b63d7",
      "name": "Start music on the player in Spotify",
      "credentials": {
        "spotifyOAuth2Api": {
          "id": "JieBlDE26DjNOWs4",
          "name": "Spotify account"
        }
      }
    },
    {
      "parameters": {
        "operation": "resume"
      },
      "type": "n8n-nodes-base.spotifyTool",
      "typeVersion": 1,
      "position": [
        2144,
        -176
      ],
      "id": "88d8d832-2e1d-4bab-93c2-24f67f791f10",
      "name": "Resume the player in Spotify",
      "credentials": {
        "spotifyOAuth2Api": {
          "id": "JieBlDE26DjNOWs4",
          "name": "Spotify account"
        }
      }
    },
    {
      "parameters": {
        "operation": "pause"
      },
      "type": "n8n-nodes-base.spotifyTool",
      "typeVersion": 1,
      "position": [
        2272,
        -176
      ],
      "id": "e21426d6-19b3-49b8-944c-636b6a2c10d3",
      "name": "Pause the player in Spotify",
      "credentials": {
        "spotifyOAuth2Api": {
          "id": "JieBlDE26DjNOWs4",
          "name": "Spotify account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "AI reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "xpsystems.eu status-api service-list": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "xpsystems.eu status-api over-all": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Download a file in Nextcloud": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Upload a file in Nextcloud": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "List a folder in Nextcloud": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create a folder in Nextcloud": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Edit an image in Google Gemini": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "Add a song to a queue in Spotify": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get the currently playing track in Spotify": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Skip to the next track in Spotify": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Set volume on the player in Spotify": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get the recently played tracks in Spotify": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Start music on the player in Spotify": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Resume the player in Spotify": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Pause the player in Spotify": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "e119cc75-7d97-43c2-b45e-88efe56263c7",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "61322c84f3560e86dcff9fd4d8ad4261e71f6f78fd6fcde52f90558cbc1f2300"
  },
  "id": "2JHxccsqc5VNSSoD",
  "tags": []
}